<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.final_project">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Activities.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Final_Project">
        <activity android:name=".Activities.Activity_fullRecipe"></activity>
        <activity android:name=".Activities.Activity_UserPage" />
        <activity android:name=".Activities.Activity_CreateRecipe" />
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Activity_Login" />
        <activity android:name=".Activities.Activity_Search" />
    </application>

</manifest>